<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Caret.js/0.3.1/jquery.caret.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/at.js/1.5.4/js/jquery.atwho.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/at.js/1.5.4/css/jquery.atwho.css" />
  </head>

  <body>

  <%= render partial: 'layouts/shared/navbar' %>

  <div class="container">
    <div class="row card green">
        <h5 class="notice"><%= notice %></h5>
    </div>

    <div class="row card red darken-1">
      <h5 class="alert"><%= alert %></h5>
    </div>
    <%= yield %>
  </div>
  </body>
</html>
